body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FBF7EB;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header.catalog { margin-top: 1em;}
.catalog { display: flex;}
.catalog #categories {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 4em 1em;
    background-color: #F1ECD6;
    width: 20%;
}
.catalog #categories a {color: black;padding-bottom: .5em;}
.catalog #products { background-color: #fff;padding-left: 2em;flex: 1;}
.catalog #products .items { display: flex;flex-wrap: wrap;}
.catalog .product {width: 150px; margin: 0 4em 4em 0; text-align: center}
.catalog .product .price { font-weight: bold; }