body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FBF7EB;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input { width: 400px;font-size: 1.4em;}
input[type="email"], input[type="month"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input[type="number"], input[type="search"], input[type="date"], input[type="datetime"], input[type="datetime-local"], select {
	background: #fff;
	border: 1px solid rgba(0,0,0,.12);
	border-radius: 4px;
	color: rgba(0,0,0,.8);
	display: inline-block;
	padding: 4px;
	vertical-align: middle;
}
button, input[type="reset"], input[type="submit"] {
	background: #2196f3;
	border: 1px solid rgba(0,0,0,.12);
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 8px 16px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
    height: 38px;
}

header.catalog { margin-top: 1em;display: flex;justify-content: space-between}
.catalog { display: flex;}
.catalog #categories {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 4em 1em;
    background-color: #F1ECD6;
    width: 20%;
}
.catalog #categories a {color: black;padding-bottom: .5em;}
.catalog #products { background-color: #fff;padding-left: 2em;flex: 1;}
.catalog #products .items { display: flex;flex-wrap: wrap;}
.catalog .product {width: 150px; margin: 0 4em 4em 0; text-align: center}
.catalog .product .price { font-weight: bold; }